[submodule "external/re-third-part"]
	path = external/re-third-part
	url = git@github.com:vgvgvvv/re-third-part.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = git@github.com:google/benchmark.git
[submodule "src/demos/VulkanLearning"]
	path = src/demos/VulkanLearning
	url = git@github.com:vgvgvvv/VulkanLearning.git
	branch = master
[submodule "external/googletest"]
	path = external/googletest
	url = git@github.com:google/googletest.git
[submodule "external/vendor/benchmark"]
	path = external/vendor/benchmark
	url = git@github.com:google/benchmark.git
[submodule "external/vendor/googletest"]
	path = external/vendor/googletest
	url = git@github.com:google/googletest.git
